<footer class="footer bg-dark mt-auto">
    <div class="container text-muted py-3">
        <span>&copy;YelpCamp 2020</span>
    </div>
</footer>

<!-- <img src="https://source.unsplash.com/collection/190727/1600x900"> -->