<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Hey everyone, i am not going to give up, put in as many hours as i can</h1>
    <p>Never give up, learn this technology to its core and make useful projects</p>
</body>
</html>