<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= campground.title %></h2>
    <p><%= campground.description %></p>

    <a href="/campground">Go back to homepage!</a>
    <br>
    <a href="/campground/<%= campground._id %>/edit">Edit</a>
    <br>
    
    <form action="/campground/<%= campground._id %>?_method=DELETE" method="POST">
        <button>Delete this one!</button>
    </form>

</body>
</html>